{% extends "employee_register/base.html" %}

{% block title %}
{% endblock title %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.full_name}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.role}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}